$primary-color: #1c2833;
$secondary-color: #d0ece7;
$dark: #212f3c;
$danger: #cb4335;

$rich-black: #001a22;
$gunmetal: #002835;
$mignight-green-eagle-green: #003e52;
$blue-sapphire: #004d69;
$blue-sapphire-light: #005f81;

$app-background: #f7f7f7;
$nav-background: #7cc7f2;
